.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  text-align: left;
  color: #666;
  height: 64px;
  line-height: 64px;
  background: #fff;
  border-bottom: solid 2px #666;
  font-size: 22px;
  font-weight: bold;
}

.content {
  background: #f6f6f6;
  color: #666;
  padding: 20px 50px;
}
